build
dist
.tox

venv
.venv
# we lock dependencies with pip-compile, not uv
uv.lock

*.sw?
compile_commands.json

.clangd/
.idea/
.vscode/
*.ipynb_checkpoints
__pycache__/
CMakeSettings.json
.vs/
.virtual_documents
.hypothesis
.pytest_cache
.mypy_cache
docs/generated/
*.DS_Store
