[build-system]
requires = [
  "setuptools>=68",
  "setuptools_scm[toml]>=8.0",
]
build-backend = "setuptools.build_meta"

[project]
name = "{{projectname}}"
description = "{{description}}"
authors = [{ name = "Scipp contributors" }]
license = { file = "LICENSE" }
readme = "README.md"
classifiers = [
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: BSD License",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
{%- for version in range(min_python.split(".")[1] | int, max_python.split(".")[1] | int + 1) %}
    "Programming Language :: Python :: 3.{{version}}",
{%- endfor %}
    "Topic :: Scientific/Engineering",
    "Typing :: Typed",
]
requires-python = ">={{min_python}}"

# IMPORTANT:
# Run 'tox -e deps' after making changes here. This will update requirement files.
# Make sure to list one dependency per line.
dependencies = [
]

dynamic = ["version"]

[project.urls]
"Bug Tracker" = "https://github.com/{{orgname}}/{{projectname}}/issues"
"Source" = "https://github.com/{{orgname}}/{{projectname}}"

[tool.setuptools_scm]
{% if namespace_package -%}
write_to = "src/{{namespace_package}}/{{projectname.removeprefix(namespace_package)}}/_version.py"
{% else %}
write_to = "src/{{projectname}}/_version.py"
{% endif %}

[tool.pytest.ini_options]
minversion = "7.0"
addopts = "-ra -v"
testpaths = "tests"
filterwarnings = [
  "error",
]

[tool.bandit]
# Excluding tests because bandit doesn't like `assert`.
exclude_dirs = ["docs/conf.py", "tests"]

[tool.black]
skip-string-normalization = true

[tool.isort]
skip_gitignore = true
profile = "black"
known_first_party = ["{{projectname}}"]

[tool.mypy]
strict = true
ignore_missing_imports = true
enable_error_code = [
    "ignore-without-code",
    "redundant-expr",
    "truthy-bool",
]
show_error_codes = true
warn_unreachable = true
