[![Contributor Covenant](https://img.shields.io/badge/Contributor%20Covenant-2.1-4baaaa.svg)](code_of_conduct.md)
[![PyPI badge](http://img.shields.io/pypi/v/{{projectname}}.svg)](https://pypi.python.org/pypi/{{projectname}})
[![Anaconda-Server Badge](https://anaconda.org/{{orgname}}/{{projectname}}/badges/version.svg)](https://anaconda.org/{{orgname}}/{{projectname}})
[![License: BSD 3-Clause](https://img.shields.io/badge/License-BSD%203--Clause-blue.svg)](LICENSE)

# {{projectname}}

## About

{{description}}

## Installation

```sh
python -m pip install {{projectname}}
```
