# API Reference

## Classes

```{eval-rst}
.. currentmodule:: {% if namespace_package %}{{ namespace_package }}.{{ projectname.removeprefix(namespace_package) }}{% else %}{{ projectname }}{% endif %}

.. autosummary::
   :toctree: ../generated/classes
   :template: class-template.rst
   :recursive:
```

## Top-level functions

```{eval-rst}
.. autosummary::
   :toctree: ../generated/functions
   :recursive:
```

## Submodules

```{eval-rst}
.. autosummary::
   :toctree: ../generated/modules
   :template: module-template.rst
   :recursive:
```
