# SPDX-License-Identifier: BSD-3-Clause
# Copyright (c) {{year}} {{orgname|capitalize}} contributors (https://github.com/{{orgname}})
import {{projectname}} as pkg


def test_has_version():
    assert hasattr(pkg, '__version__')
    assert hasattr(pkg, '__version_tuple__')
