# SPDX-License-Identifier: BSD-3-Clause
# Copyright (c) {{year}} Scipp contributors (https://github.com/scipp)
import {{projectname}} as pkg


def test_has_version():
    assert hasattr(pkg, '__version__')
