package:
  name: {{projectname}}
{% raw %}
  version: {{ GIT_DESCRIBE_TAG }}
{% endraw %}
source:
  path: ..

requirements:
  build:
    - setuptools
    - setuptools_scm
  run:
    - python>={{min_python}}

test:
  imports:
    - {% if namespace_package %}{{namespace_package}}.{% endif %}{{ projectname.removeprefix(namespace_package) }}
  requires:
    - pytest
  source_files:
    - pyproject.toml
    - tests/
  commands:
    # We ignore warnings during release package builds
    - python -m pytest -Wignore tests

build:
  noarch: python
  script:
    - python -m pip install .

about:
  home: https://github.com/{{orgname}}/{{projectname}}
  license: BSD-3-Clause
  summary: {{description}}
  description: {{description}}
  dev_url: https://github.com/{{orgname}}/{{projectname}}
  doc_url: https://{{orgname}}.github.io/{{projectname}}
