name: Test

on:
  workflow_dispatch:
    inputs:
      os-variant:
        default: 'ubuntu-22.04'
        type: string
      python-version:
        type: string
      tox-env:
        default: 'test'
        type: string
      pip-recipe:
        default: 'requirements/ci.txt'
        type: string
      coverage-report:
        default: false
        type: boolean
      checkout_ref:
        default: ''
        type: string
  workflow_call:
    inputs:
      os-variant:
        default: 'ubuntu-22.04'
        type: string
      python-version:
        type: string
      tox-env:
        default: 'test'
        type: string
      pip-recipe:
        default: 'requirements/ci.txt'
        type: string
      coverage-report:
        default: false
        type: boolean
      checkout_ref:
        default: ''
        type: string

jobs:
  test:
    runs-on: ${{ inputs.os-variant }}
    env:
        # Security note! The secrets are only added to workflows that run on trusted branches (main). If secrets are accessible in workflows that run on untrusted branches they can be extracted, see https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions#exfiltrating-data-from-a-runner.
        ESS_PROTECTED_FILESTORE_USERNAME: ${{ secrets.ESS_PROTECTED_FILESTORE_USERNAME }}
        ESS_PROTECTED_FILESTORE_PASSWORD: ${{ secrets.ESS_PROTECTED_FILESTORE_PASSWORD }}

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.checkout_ref }}
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.python-version }}
      - run: python -m pip install --upgrade pip
      - run: python -m pip install -r ${{ inputs.pip-recipe }}
      - run: tox -e ${{ inputs.tox-env }}
      - uses: actions/upload-artifact@v4
        if: ${{ inputs.coverage-report }}
        with:
          name: CoverageReport
          path: coverage_html/
