# About {{projectname|capitalize}}

## Development

{{projectname|capitalize}} is an open source project by the [European Spallation Source ERIC](https://europeanspallationsource.se/) (ESS).

## License

{{projectname|capitalize}} is available as open source under the [BSD-3 license](https://opensource.org/licenses/BSD-3-Clause).


## Citing {{projectname|capitalize}}

Please cite the following:

.. image:: https://zenodo.org/badge/{{zenodo_doi_ref}}.svg
   :target: https://zenodo.org/badge/latestdoi/{{zenodo_doi_ref}}

To cite a specific version of {{projectname|capitalize}}, select the desired version on Zenodo to get the corresponding DOI.

## Older versions of the documentation

Older versions of the documentation pages can be found under the assets of each [release](https://github.com/scipp/{{projectname}}/releases).
Simply download the archive, unzip and view locally in a web browser.

## Source code and development

{{projectname|capitalize}} is hosted and developed [on GitHub](https://github.com/scipp/{{projectname}}).
